In [3]:
# import os
# os.environ['AWS_ACCESS_KEY_ID'] = 'AKIAYS2NT2EVWCZ4HWGG'
# os.environ['AWS_SECRET_ACCESS_KEY'] = 'A9H/cjLkvPuI12OFq/9RYaCfhmSEL00VWCUNJeg'
# os.environ['AWS_DEFAULT_REGION'] = 'us-east-2'

In [5]:
import boto3
import pandas as pd
import io

# Automatically uses ~/.aws/credentials and ~/.aws/config
s3 = boto3.client('s3')

bucket = 'naturals-reviews'
key = 'combined/all_4_naturals_reviews.csv'  # adjust based on what you find

response = s3.get_object(Bucket=bucket, Key=key)
df = pd.read_csv(io.StringIO(response['Body'].read().decode('utf-8')))
df.head()

,id_review,caption,relative_date,review_date,retrieval_date,rating,username,n_review_user,place_id
0,ChdDSUhNMG9nS0VPemYzNl8zcFBMUGh3RRAB,I went here for anti dandruff treatment and th...,14 hours ago,2025-05-12 17:32:43.733409,2025-05-12 17:32:43,5.0,Mathanagopal Sankarasubramanian,0,ChIJ5dJscNpbUjoRxlwAVwOEggE
1,ChZDSUhNMG9nS0VNamF3LVBXckxLV01REAE,Excellent service by Ms. Sweta,4 days ago,2025-05-08 17:32:43.733583,2025-05-12 17:32:43,5.0,Sri Chengalvarayan,0,ChIJ5dJscNpbUjoRxlwAVwOEggE
2,ChdDSUhNMG9nS0VOVHF3TUxZZ1BTcDdBRRAB,NaN,5 days ago,2025-05-07 17:32:43.733717,2025-05-12 17:32:43,5.0,Rajaduari Rajaduari,0,ChIJ5dJscNpbUjoRxlwAVwOEggE
3,ChdDSUhNMG9nS0VJQ0FnTUN3M043SXJBRRAB,Recently did my haircut here. Mr.Bhushan did t...,NaN,NaN,2025-05-12 17:32:43,5.0,Madhumitha Saravanan,1,ChIJ5dJscNpbUjoRxlwAVwOEggE
4,ChZDSUhNMG9nS0VJQ0FnTUNZaXN2bmZ3EAE,I GOT A EXCELLENT HAIR CUT DONE BY MERCY.SHE I...,NaN,NaN,2025-05-12 17:32:43,5.0,Gayathri Subramanian,0,ChIJ5dJscNpbUjoRxlwAVwOEggE

In [6]:
len(df)

4844

In [7]:
df['place_id'].value_counts()

place_id
ChIJPeVfv4dbUjoRuuquO98y1PQ    2120
ChIJCbLW5wxdUjoRSkTBDc9Qtsw    1283
ChIJ7Q9oF65bUjoROux3YqvNt6c     932
ChIJ5dJscNpbUjoRxlwAVwOEggE     509
Name: count, dtype: int64